In this example, I demonstrate a couple of useful things.  

I'm going to use Python because it is well-suited to this sort of stuff, but you may use whatever language with which you are most comfortable.
1. reading data from a CSV formatted file (valdosta.adsb)
2. reading data from a JSON formatted file (valdosta.gps)
3. merging these two files by datetime stamp, so that observations in each close in time are matched up.

About the data.  File valdosta.adsb contains summarized data of aircraft positions and altitudes. Here's what it looks like:

In [2]:
import pandas as pd
from pandas import read_csv

def main():
    adsb_df = read_csv( 'valdosta1.adsb', names=['date_time', 'mode', 'flight_id', 
        'hex_id', 'altitude', 'lat', 'lng', 'in_view'])
    print(adsb_df.head(20))

if __name__ == '__main__':
    main()

          date_time      mode flight_id  hex_id altitude       lat       lng  \
0          Starting       NaN       NaN     NaN      NaN       NaN       NaN
1   20150618-133743  Updating     XXXXX  AA2A8A    40000   0.00000   0.00000
2   20150618-133743  Updating     XXXXX  A60EDB    21000   0.00000   0.00000
3   20150618-133743  Updating     XXXXX  AD6035    13775   0.00000   0.00000
4   20150618-133743  Updating     XXXXX  A1AC69    13100   0.00000   0.00000
5   20150618-133743  Updating     XXXXX  A29EB6    30450   0.00000   0.00000
6   20150618-133743  Updating     XXXXX  A5E48A    36000   0.00000   0.00000
7   20150618-133743  Updating     XXXXX  A2172E        0   0.00000   0.00000
8   20150618-133743  Updating     XXXXX  AD18A3    28300   0.00000   0.00000
9   20150618-133743  Updating     XXXXX  A3A0EB    36000   0.00000   0.00000
10  20150618-133743  Updating     XXXXX  AC8CF1    36975   0.00000   0.00000
11  20150618-133743  Updating     XXXXX  AD4395    22725   0.00000   0.00000
12  20150618-133743  Updating     XXXXX  AC6FA4    12825   0.00000   0.00000
13  20150618-133743  Updating     XXXXX  A452C4    16250   0.00000   0.00000
14  20150618-133746  Updating     XXXXX  A34721    27950  34.80688 -84.91154
15  20150618-133746  Updating     XXXXX  A6E4E4    23525   0.00000   0.00000
16  20150618-133752  Updating     XXXXX  AA886B    35150   0.00000   0.00000
17  20150618-133752  Updating     XXXXX  AA7757    41000       NaN       NaN
18  20150618-133752  Updating     XXXXX  ADD66C    13750   0.00000   0.00000
19  20150618-133752  Updating  784       A1D4C3    36050  34.32422 -85.04091

    in_view
0       NaN
1      23.0
2      23.0
3      23.0
4      23.0
5      23.0
6      23.0
7      23.0
8      23.0
9      23.0
10     23.0
11     23.0
12     23.0
13     23.0
14     24.0
15     24.0
16     24.0
17     24.0
18     24.0
19     24.0

I got the idea for how to do this from here:
https://stackoverflow.com/questions/15006298/how-to-preview-a-part-of-a-large-pandas-dataframe-in-ipython-notebook
Clearly the data still need some filtering but we're on the right track and pandas is doing a lot of the heavy lifting for us.

The json formatted file contains GPS position data for my aircraft receiver, which was located in a moving car.

Let's look at reading data from the corresponding json-formatted file:

In [4]:
import pandas as pd
from pandas import read_json

def main():
    gps_df = read_json( 'valdosta1.gps', lines=True)
    print(gps_df.head(50))

if __name__ == '__main__':
    main()

                   activated    alt     bps    class  climb  cycle  \
0                        NaN    NaN     NaN  VERSION    NaN    NaN
1                        NaN    NaN     NaN  DEVICES    NaN    NaN
2                        NaN    NaN     NaN    WATCH    NaN    NaN
3   2015-06-18T03:08:59.900Z    NaN  9600.0   DEVICE    NaN    1.0
4                        NaN  227.0     NaN      TPV    NaN    NaN
5                        NaN  227.0     NaN      TPV    NaN    NaN
6                        NaN    NaN     NaN      SKY    NaN    NaN
7                        NaN  227.0     NaN      TPV    NaN    NaN
8                        NaN  227.0     NaN      TPV    0.0    NaN
9   2015-06-18T03:09:01.205Z    NaN  9600.0   DEVICE    NaN    1.0
10  2015-06-18T03:09:01.926Z    NaN  9600.0   DEVICE    NaN    1.0
11                       NaN  227.0     NaN      TPV    0.0    NaN
12                       NaN  227.0     NaN      TPV    0.0    NaN
13                       NaN  227.0     NaN      TPV    0.0    NaN
14                       NaN    NaN     NaN      SKY    NaN    NaN
15                       NaN  227.0     NaN      TPV    0.0    NaN
16                       NaN  227.0     NaN      TPV    0.0    NaN
17                       NaN  227.0     NaN      TPV    0.0    NaN
18                       NaN  226.9     NaN      TPV   -0.1    NaN
19                       NaN  226.9     NaN      TPV    0.0    NaN
20                       NaN    NaN     NaN      SKY    NaN    NaN
21                       NaN  226.9     NaN      TPV    0.0    NaN
22                       NaN  226.9     NaN      TPV    0.0    NaN
23                       NaN  226.9     NaN      TPV    0.0    NaN
24                       NaN  226.9     NaN      TPV    0.0    NaN
25                       NaN  226.9     NaN      TPV    0.0    NaN
26                       NaN    NaN     NaN      SKY    NaN    NaN
27                       NaN  226.9     NaN      TPV    0.0    NaN
28                       NaN  226.9     NaN      TPV    0.0    NaN
29                       NaN  226.9     NaN      TPV    0.0    NaN
30                       NaN  226.9     NaN      TPV    0.0    NaN
31                       NaN  226.9     NaN      TPV    0.0    NaN
32                       NaN    NaN     NaN      SKY    NaN    NaN
33                       NaN  226.9     NaN      TPV    0.0    NaN
34                       NaN  226.9     NaN      TPV    0.0    NaN
35                       NaN  226.9     NaN      TPV    0.0    NaN
36                       NaN  226.9     NaN      TPV    0.0    NaN
37                       NaN  226.9     NaN      TPV    0.0    NaN
38                       NaN    NaN     NaN      SKY    NaN    NaN
39                       NaN  226.9     NaN      TPV    0.0    NaN
40                       NaN  226.9     NaN      TPV    0.0    NaN
41                       NaN  226.9     NaN      TPV    0.0    NaN
42                       NaN  226.9     NaN      TPV    0.0    NaN
43                       NaN  226.9     NaN      TPV    0.0    NaN
44                       NaN    NaN     NaN      SKY    NaN    NaN
45                       NaN  226.9     NaN      TPV    0.0    NaN
46                       NaN  226.9     NaN      TPV    0.0    NaN
47                       NaN  226.9     NaN      TPV    0.0    NaN
48                       NaN  226.9     NaN      TPV    0.0    NaN
49                       NaN  226.9     NaN      TPV    0.0    NaN

          device                                            devices  \
0            NaN                                                NaN
1            NaN  [{'class': 'DEVICE', 'path': '/dev/ttyUSB0', '...
2            NaN                                                NaN
3            NaN                                                NaN
4   /dev/ttyUSB0                                                NaN
5   /dev/ttyUSB0                                                NaN
6   /dev/ttyUSB0                                                NaN
7   /dev/ttyUSB0                                                NaN
8   /dev/ttyUSB0                                                NaN
9            NaN                                                NaN
10           NaN                                                NaN
11  /dev/ttyUSB0                                                NaN
12  /dev/ttyUSB0                                                NaN
13  /dev/ttyUSB0                                                NaN
14  /dev/ttyUSB0                                                NaN
15  /dev/ttyUSB0                                                NaN
16  /dev/ttyUSB0                                                NaN
17  /dev/ttyUSB0                                                NaN
18  /dev/ttyUSB0                                                NaN
19  /dev/ttyUSB0                                                NaN
20  /dev/ttyUSB0                                                NaN
21  /dev/ttyUSB0                                                NaN
22  /dev/ttyUSB0                                                NaN
23  /dev/ttyUSB0                                                NaN
24  /dev/ttyUSB0                                                NaN
25  /dev/ttyUSB0                                                NaN
26  /dev/ttyUSB0                                                NaN
27  /dev/ttyUSB0                                                NaN
28  /dev/ttyUSB0                                                NaN
29  /dev/ttyUSB0                                                NaN
30  /dev/ttyUSB0                                                NaN
31  /dev/ttyUSB0                                                NaN
32  /dev/ttyUSB0                                                NaN
33  /dev/ttyUSB0                                                NaN
34  /dev/ttyUSB0                                                NaN
35  /dev/ttyUSB0                                                NaN
36  /dev/ttyUSB0                                                NaN
37  /dev/ttyUSB0                                                NaN
38  /dev/ttyUSB0                                                NaN
39  /dev/ttyUSB0                                                NaN
40  /dev/ttyUSB0                                                NaN
41  /dev/ttyUSB0                                                NaN
42  /dev/ttyUSB0                                                NaN
43  /dev/ttyUSB0                                                NaN
44  /dev/ttyUSB0                                                NaN
45  /dev/ttyUSB0                                                NaN
46  /dev/ttyUSB0                                                NaN
47  /dev/ttyUSB0                                                NaN
48  /dev/ttyUSB0                                                NaN
49  /dev/ttyUSB0                                                NaN

          driver  enable  ...  speed  stopbits  tag  tdop  \
0            NaN     NaN  ...    NaN       NaN  NaN   NaN
1            NaN     NaN  ...    NaN       NaN  NaN   NaN
2            NaN     1.0  ...    NaN       NaN  NaN   NaN
3   Generic NMEA     NaN  ...    NaN       1.0  NaN   NaN
4            NaN     NaN  ...    NaN       NaN  GGA   NaN
5            NaN     NaN  ...    NaN       NaN  GSA   NaN
6            NaN     NaN  ...    NaN       NaN  GSV  3.48
7            NaN     NaN  ...  0.010       NaN  RMC   NaN
8            NaN     NaN  ...  0.010       NaN  RMC   NaN
9       MTK-3301     NaN  ...    NaN       1.0  NaN   NaN
10  Generic NMEA     NaN  ...    NaN       1.0  NaN   NaN
11           NaN     NaN  ...  0.010       NaN  RMC   NaN
12           NaN     NaN  ...  0.010       NaN  RMC   NaN
13           NaN     NaN  ...  0.005       NaN  RMC   NaN
14           NaN     NaN  ...    NaN       NaN  GSV  3.48
15           NaN     NaN  ...  0.005       NaN  RMC   NaN
16           NaN     NaN  ...  0.010       NaN  RMC   NaN
17           NaN     NaN  ...  0.010       NaN  RMC   NaN
18           NaN     NaN  ...  0.010       NaN  RMC   NaN
19           NaN     NaN  ...  0.010       NaN  RMC   NaN
20           NaN     NaN  ...    NaN       NaN  GSV  3.48
21           NaN     NaN  ...  0.005       NaN  RMC   NaN
22           NaN     NaN  ...  0.010       NaN  RMC   NaN
23           NaN     NaN  ...  0.015       NaN  RMC   NaN
24           NaN     NaN  ...  0.015       NaN  RMC   NaN
25           NaN     NaN  ...  0.015       NaN  RMC   NaN
26           NaN     NaN  ...    NaN       NaN  GSV  3.42
27           NaN     NaN  ...  0.010       NaN  RMC   NaN
28           NaN     NaN  ...  0.010       NaN  RMC   NaN
29           NaN     NaN  ...  0.010       NaN  RMC   NaN
30           NaN     NaN  ...  0.010       NaN  RMC   NaN
31           NaN     NaN  ...  0.010       NaN  RMC   NaN
32           NaN     NaN  ...    NaN       NaN  GSV  3.43
33           NaN     NaN  ...  0.010       NaN  RMC   NaN
34           NaN     NaN  ...  0.010       NaN  RMC   NaN
35           NaN     NaN  ...  0.010       NaN  RMC   NaN
36           NaN     NaN  ...  0.010       NaN  RMC   NaN
37           NaN     NaN  ...  0.010       NaN  RMC   NaN
38           NaN     NaN  ...    NaN       NaN  GSV  3.43
39           NaN     NaN  ...  0.010       NaN  RMC   NaN
40           NaN     NaN  ...  0.010       NaN  RMC   NaN
41           NaN     NaN  ...  0.010       NaN  RMC   NaN
42           NaN     NaN  ...  0.010       NaN  RMC   NaN
43           NaN     NaN  ...  0.010       NaN  RMC   NaN
44           NaN     NaN  ...    NaN       NaN  GSV  3.43
45           NaN     NaN  ...  0.010       NaN  RMC   NaN
46           NaN     NaN  ...  0.005       NaN  RMC   NaN
47           NaN     NaN  ...  0.005       NaN  RMC   NaN
48           NaN     NaN  ...  0.005       NaN  RMC   NaN
49           NaN     NaN  ...  0.005       NaN  RMC   NaN

                        time  timing   track  vdop  xdop  ydop
0                        NaN     NaN     NaN   NaN   NaN   NaN
1                        NaN     NaN     NaN   NaN   NaN   NaN
2                        NaN     0.0     NaN   NaN   NaN   NaN
3                        NaN     NaN     NaN   NaN   NaN   NaN
4                        NaN     NaN     NaN   NaN   NaN   NaN
5                        NaN     NaN     NaN   NaN   NaN   NaN
6                        NaN     NaN     NaN  4.45  1.34  1.09
7   2015-06-18T13:34:55.000Z     NaN  141.12   NaN   NaN   NaN
8   2015-06-18T13:34:56.000Z     NaN  140.06   NaN   NaN   NaN
9                        NaN     NaN     NaN   NaN   NaN   NaN
10                       NaN     NaN     NaN   NaN   NaN   NaN
11  2015-06-18T13:34:57.000Z     NaN  136.46   NaN   NaN   NaN
12  2015-06-18T13:34:58.000Z     NaN  134.16   NaN   NaN   NaN
13  2015-06-18T13:34:59.000Z     NaN  244.59   NaN   NaN   NaN
14                       NaN     NaN     NaN  4.45  1.34  1.09
15  2015-06-18T13:35:00.000Z     NaN  288.26   NaN   NaN   NaN
16  2015-06-18T13:35:01.000Z     NaN  318.41   NaN   NaN   NaN
17  2015-06-18T13:35:02.000Z     NaN  332.62   NaN   NaN   NaN
18  2015-06-18T13:35:03.000Z     NaN  326.85   NaN   NaN   NaN
19  2015-06-18T13:35:04.000Z     NaN  330.28   NaN   NaN   NaN
20                       NaN     NaN     NaN  4.44  1.34  1.09
21  2015-06-18T13:35:05.000Z     NaN   39.10   NaN   NaN   NaN
22  2015-06-18T13:35:06.000Z     NaN  114.21   NaN   NaN   NaN
23  2015-06-18T13:35:07.000Z     NaN  155.59   NaN   NaN   NaN
24  2015-06-18T13:35:08.000Z     NaN  165.93   NaN   NaN   NaN
25  2015-06-18T13:35:09.000Z     NaN  160.26   NaN   NaN   NaN
26                       NaN     NaN     NaN  4.38  1.32  1.07
27  2015-06-18T13:35:10.000Z     NaN  160.57   NaN   NaN   NaN
28  2015-06-18T13:35:11.000Z     NaN  218.40   NaN   NaN   NaN
29  2015-06-18T13:35:12.000Z     NaN  237.21   NaN   NaN   NaN
30  2015-06-18T13:35:13.000Z     NaN   14.18   NaN   NaN   NaN
31  2015-06-18T13:35:14.000Z     NaN    3.28   NaN   NaN   NaN
32                       NaN     NaN     NaN  4.39  1.33  1.08
33  2015-06-18T13:35:15.000Z     NaN  345.35   NaN   NaN   NaN
34  2015-06-18T13:35:16.000Z     NaN  355.05   NaN   NaN   NaN
35  2015-06-18T13:35:17.000Z     NaN   45.19   NaN   NaN   NaN
36  2015-06-18T13:35:18.000Z     NaN   79.22   NaN   NaN   NaN
37  2015-06-18T13:35:19.000Z     NaN  148.91   NaN   NaN   NaN
38                       NaN     NaN     NaN  4.39  1.33  1.08
39  2015-06-18T13:35:20.000Z     NaN  164.72   NaN   NaN   NaN
40  2015-06-18T13:35:21.000Z     NaN  174.63   NaN   NaN   NaN
41  2015-06-18T13:35:22.000Z     NaN  174.97   NaN   NaN   NaN
42  2015-06-18T13:35:23.000Z     NaN  210.11   NaN   NaN   NaN
43  2015-06-18T13:35:24.000Z     NaN  266.04   NaN   NaN   NaN
44                       NaN     NaN     NaN  4.39  1.33  1.08
45  2015-06-18T13:35:25.000Z     NaN  331.71   NaN   NaN   NaN
46  2015-06-18T13:35:26.000Z     NaN  359.49   NaN   NaN   NaN
47  2015-06-18T13:35:27.000Z     NaN   33.55   NaN   NaN   NaN
48  2015-06-18T13:35:28.000Z     NaN   51.44   NaN   NaN   NaN
49  2015-06-18T13:35:29.000Z     NaN   31.93   NaN   NaN   NaN

[50 rows x 46 columns]

I got this idea from: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html
Not all the data is shown in this abbreviated (and messy) preview.  Specifically, the latitude and longitude, two attributes of great interest here, are lost in the ellipsis (...).  Don't worry, we'll filter this data frame down in a subsequent step.

Let's go back to the CSV file and filter for just the rows we want:

In [5]:
import pandas as pd
from pandas import read_csv

def main():

    # Read the entire file
    adsb_df = read_csv( 'valdosta1.adsb', names=['date_time', 'mode', 'flight_id', 
        'hex_id', 'altitude', 'lat', 'lng', 'in_view'])

    # first subsetting expression -- only want updates, non-zero lat/long
    adsb_clean = adsb_df.loc[(adsb_df['mode'] == 'Updating') & (adsb_df['lat'] != 0 ) 
        & (adsb_df['lat'].notnull())]
        
    print(adsb_clean.head(20))

if __name__ == '__main__':
    main()

           date_time      mode flight_id  hex_id altitude       lat       lng  \
14   20150618-133746  Updating     XXXXX  A34721    27950  34.80688 -84.91154
19   20150618-133752  Updating  784       A1D4C3    36050  34.32422 -85.04091
32   20150618-133847  Updating     XXXXX  A34721    26500  34.95886 -85.11237
37   20150618-133847  Updating     XXXXX  A399D4    27325  35.02758 -85.26049
41   20150618-133853  Updating     XXXXX  AA7757    41000  33.78484 -83.94429
43   20150618-133853  Updating  784       A1D4C3    36700  34.43559 -85.13917
47   20150618-133912  Updating  UAL1096   AA7E2E    36000  34.83902 -84.98340
51   20150618-133930  Updating     XXXXX  AB5F00    37000  34.14088 -85.70468
60   20150618-133952  Updating     XXXXX  A34721    25925  34.99672 -85.16281
65   20150618-133952  Updating     XXXXX  A399D4    27325  35.02758 -85.26049
70   20150618-133955  Updating     XXXXX  AA7757    41000  33.78484 -83.94429
72   20150618-133955  Updating  784       A1D4C3    37050  34.52174 -85.21557
80   20150618-134016  Updating  UAL1096   AA7E2E    36000  34.78430 -85.07532
84   20150618-134035  Updating     XXXXX  AB5F00    37000  34.14088 -85.70468
94   20150618-134058  Updating     XXXXX  AA7757    41000  33.94012 -83.69951
95   20150618-134058  Updating     XXXXX  A34721    25925  34.99672 -85.16281
101  20150618-134058  Updating     XXXXX  A399D4    27325  35.02758 -85.26049
103  20150618-134058  Updating  784       A1D4C3    37050  34.60707 -85.29129
112  20150618-134117  Updating  UAL1096   AA7E2E    36000  34.73882 -85.15183
129  20150618-134203  Updating     XXXXX  AA7757    41000  33.94012 -83.69951

     in_view
14      24.0
19      24.0
32      28.0
37      28.0
41      28.0
43      28.0
47      31.0
51      31.0
60      33.0
65      33.0
70      32.0
72      32.0
80      32.0
84      33.0
94      34.0
95      34.0
101     34.0
103     34.0
112     35.0
129     35.0

My code is based on this: https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/
and: https://stackoverflow.com/questions/17071871/how-to-select-rows-from-a-dataframe-based-on-column-values

Now let's clean the json data:

In [6]:
import pandas as pd
from pandas import read_json

def main():
    gps_df = read_json( 'valdosta1.gps', lines=True)

    # GPS data stream is very rich - a lot of redundant info, including 
    # info on the satellites themselves.  We only want position (fix) related
    # stuff.  TPV is Time, Position, Velocity
    gps_clean = gps_df.loc[gps_df['class'] == 'TPV']

    # Now keep only columns/fields we want
    gps_clean = gps_clean.filter( items=['time', 'lat', 'lon', 'speed', 'alt', 'track', 'climb'])

    # Deal with missing times
    gps_clean = gps_clean.loc[(gps_clean['time'].notnull()) & gps_clean['climb'].notnull()]
    print(gps_clean.head(20))

if __name__ == '__main__':
    main()

                        time      lat       lon  speed    alt   track  climb
8   2015-06-18T13:34:56.000Z  34.3793 -84.90703  0.010  227.0  140.06    0.0
11  2015-06-18T13:34:57.000Z  34.3793 -84.90703  0.010  227.0  136.46    0.0
12  2015-06-18T13:34:58.000Z  34.3793 -84.90703  0.010  227.0  134.16    0.0
13  2015-06-18T13:34:59.000Z  34.3793 -84.90703  0.005  227.0  244.59    0.0
15  2015-06-18T13:35:00.000Z  34.3793 -84.90703  0.005  227.0  288.26    0.0
16  2015-06-18T13:35:01.000Z  34.3793 -84.90703  0.010  227.0  318.41    0.0
17  2015-06-18T13:35:02.000Z  34.3793 -84.90703  0.010  227.0  332.62    0.0
18  2015-06-18T13:35:03.000Z  34.3793 -84.90703  0.010  226.9  326.85   -0.1
19  2015-06-18T13:35:04.000Z  34.3793 -84.90703  0.010  226.9  330.28    0.0
21  2015-06-18T13:35:05.000Z  34.3793 -84.90703  0.005  226.9   39.10    0.0
22  2015-06-18T13:35:06.000Z  34.3793 -84.90703  0.010  226.9  114.21    0.0
23  2015-06-18T13:35:07.000Z  34.3793 -84.90703  0.015  226.9  155.59    0.0
24  2015-06-18T13:35:08.000Z  34.3793 -84.90703  0.015  226.9  165.93    0.0
25  2015-06-18T13:35:09.000Z  34.3793 -84.90703  0.015  226.9  160.26    0.0
27  2015-06-18T13:35:10.000Z  34.3793 -84.90703  0.010  226.9  160.57    0.0
28  2015-06-18T13:35:11.000Z  34.3793 -84.90703  0.010  226.9  218.40    0.0
29  2015-06-18T13:35:12.000Z  34.3793 -84.90703  0.010  226.9  237.21    0.0
30  2015-06-18T13:35:13.000Z  34.3793 -84.90703  0.010  226.9   14.18    0.0
31  2015-06-18T13:35:14.000Z  34.3793 -84.90703  0.010  226.9    3.28    0.0
33  2015-06-18T13:35:15.000Z  34.3793 -84.90703  0.010  226.9  345.35    0.0

Ok, let's use Pandas to merge these files by timestamp.  The first step is to convert the string times into real Datetime type, starting with the plane data (from csv):

In [ ]:
import pandas as pd
from pandas import read_csv
from datetime import datetime

def main():

    # Read the entire file
    adsb_df = read_csv( 'valdosta1.adsb', names=['date_time', 'mode', 'flight_id', 
        'hex_id', 'altitude', 'lat', 'lng', 'in_view'])

    # first subsetting expression -- only want updates, non-zero lat/long
    adsb_clean = adsb_df.loc[(adsb_df['mode'] == 'Updating') & (adsb_df['lat'] != 0 ) 
        & (adsb_df['lat'].notnull())]

    # Convert string date to datetime internal format, add to dataframe as dt_tm
    # Ref: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    # and: https://stackoverflow.com/questions/18942506/add-new-column-in-pandas-dataframe-python

    # kludge to turn off the dreaded SettingWithCopyWarning.  Discussion is  in SO link above.
    pd.options.mode.chained_assignment = None
    
    # Compute a new column with a datetime format from the string date time column
    adsb_clean['dt_tm'] = adsb_clean['date_time'].map( lambda x: datetime.strptime(x, '%Y%m%d-%H%M%S'))
    
    print(adsb_clean.head(20))

if __name__ == '__main__':
    main()

Now let's do the GPS data from the json file:

In [10]:
import pandas as pd
from pandas import read_json
from datetime import datetime

def main():
    gps_df = read_json( 'valdosta1.gps', lines=True)

    # GPS data stream is very rich - a lot of redundant info, including 
    # info on the satellites themselves.  We only want position (fix) related
    # stuff.  TPV is Time, Position, Velocity
    gps_clean = gps_df.loc[gps_df['class'] == 'TPV']

    # Now keep only columns/fields we want
    gps_clean = gps_clean.filter( items=['time', 'lat', 'lon', 'speed', 'alt', 'track', 'climb'])

    # Deal with missing times
    gps_clean = gps_clean.loc[(gps_clean['time'].notnull()) & gps_clean['climb'].notnull()]

    # Convert string date to datetime internal format, add to dataframe as dt_tm
    # Ref: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    # and: https://stackoverflow.com/questions/18942506/add-new-column-in-pandas-dataframe-python

    # kludge to turn off the dreaded SettingWithCopyWarning.  Discussion is  in SO link above.
    pd.options.mode.chained_assignment = None

    # Compute a new column with a datetime format from the string date time column
    # string dates and times look like this 2015-06-18T13:43:40.000Z
    gps_clean['dt_tm'] = gps_clean['time'].map( lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.000Z'))
    print(gps_clean.head(20))

if __name__ == '__main__':
    main()

                        time      lat       lon  speed    alt   track  climb  \
8   2015-06-18T13:34:56.000Z  34.3793 -84.90703  0.010  227.0  140.06    0.0
11  2015-06-18T13:34:57.000Z  34.3793 -84.90703  0.010  227.0  136.46    0.0
12  2015-06-18T13:34:58.000Z  34.3793 -84.90703  0.010  227.0  134.16    0.0
13  2015-06-18T13:34:59.000Z  34.3793 -84.90703  0.005  227.0  244.59    0.0
15  2015-06-18T13:35:00.000Z  34.3793 -84.90703  0.005  227.0  288.26    0.0
16  2015-06-18T13:35:01.000Z  34.3793 -84.90703  0.010  227.0  318.41    0.0
17  2015-06-18T13:35:02.000Z  34.3793 -84.90703  0.010  227.0  332.62    0.0
18  2015-06-18T13:35:03.000Z  34.3793 -84.90703  0.010  226.9  326.85   -0.1
19  2015-06-18T13:35:04.000Z  34.3793 -84.90703  0.010  226.9  330.28    0.0
21  2015-06-18T13:35:05.000Z  34.3793 -84.90703  0.005  226.9   39.10    0.0
22  2015-06-18T13:35:06.000Z  34.3793 -84.90703  0.010  226.9  114.21    0.0
23  2015-06-18T13:35:07.000Z  34.3793 -84.90703  0.015  226.9  155.59    0.0
24  2015-06-18T13:35:08.000Z  34.3793 -84.90703  0.015  226.9  165.93    0.0
25  2015-06-18T13:35:09.000Z  34.3793 -84.90703  0.015  226.9  160.26    0.0
27  2015-06-18T13:35:10.000Z  34.3793 -84.90703  0.010  226.9  160.57    0.0
28  2015-06-18T13:35:11.000Z  34.3793 -84.90703  0.010  226.9  218.40    0.0
29  2015-06-18T13:35:12.000Z  34.3793 -84.90703  0.010  226.9  237.21    0.0
30  2015-06-18T13:35:13.000Z  34.3793 -84.90703  0.010  226.9   14.18    0.0
31  2015-06-18T13:35:14.000Z  34.3793 -84.90703  0.010  226.9    3.28    0.0
33  2015-06-18T13:35:15.000Z  34.3793 -84.90703  0.010  226.9  345.35    0.0

                 dt_tm
8  2015-06-18 13:34:56
11 2015-06-18 13:34:57
12 2015-06-18 13:34:58
13 2015-06-18 13:34:59
15 2015-06-18 13:35:00
16 2015-06-18 13:35:01
17 2015-06-18 13:35:02
18 2015-06-18 13:35:03
19 2015-06-18 13:35:04
21 2015-06-18 13:35:05
22 2015-06-18 13:35:06
23 2015-06-18 13:35:07
24 2015-06-18 13:35:08
25 2015-06-18 13:35:09
27 2015-06-18 13:35:10
28 2015-06-18 13:35:11
29 2015-06-18 13:35:12
30 2015-06-18 13:35:13
31 2015-06-18 13:35:14
33 2015-06-18 13:35:15

Ok, let's merge using Pandas.  For simple merges, you could probably just round to the nearest minute and work that way, but I wanted to try the more elegant Pandas method:

In [11]:
import pandas as pd
from pandas import read_csv
from pandas import read_json
from datetime import datetime

def read_and_clean_json_file():
    gps_df = read_json( 'valdosta1.gps', lines=True)

    # GPS data stream is very rich - a lot of redundant info, including 
    # info on the satellites themselves.  We only want position (fix) related
    # stuff.  TPV is Time, Position, Velocity
    gps_clean = gps_df.loc[gps_df['class'] == 'TPV']

    # Now keep only columns/fields we want
    gps_clean = gps_clean.filter( items=['time', 'lat', 'lon', 'speed', 'alt', 'track', 'climb'])

    # Deal with missing times
    gps_clean = gps_clean.loc[(gps_clean['time'].notnull()) & gps_clean['climb'].notnull()]

    # Convert string date to datetime internal format, add to dataframe as dt_tm
    # Ref: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    # and: https://stackoverflow.com/questions/18942506/add-new-column-in-pandas-dataframe-python

    # kludge to turn off the dreaded SettingWithCopyWarning.  Discussion is  in SO link above.
    pd.options.mode.chained_assignment = None

    # Compute a new column with a datetime format from the string date time column
    # string dates and times look like this 2015-06-18T13:43:40.000Z
    gps_clean['dt_tm'] = gps_clean['time'].map( lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.000Z'))

    return gps_clean

def read_and_clean_csv_file():

    # Read the entire file
    adsb_df = read_csv( 'valdosta1.adsb', names=['date_time', 'mode', 'flight_id', 
        'hex_id', 'altitude', 'lat_plane', 'lng_plane', 'in_view'])

    # first subsetting expression -- only want updates, non-zero lat/long
    adsb_clean = adsb_df.loc[(adsb_df['mode'] == 'Updating') & (adsb_df['lat_plane'] != 0 ) 
        & (adsb_df['lat_plane'].notnull())]

    # Convert string date to datetime internal format, add to dataframe as dt_tm
    # Ref: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    # and: https://stackoverflow.com/questions/18942506/add-new-column-in-pandas-dataframe-python

    # kludge to turn off the dreaded SettingWithCopyWarning.  Discussion is  in SO link above.
    pd.options.mode.chained_assignment = None

    # Compute a new column with a datetime format from the string date time column
    adsb_clean['dt_tm'] = adsb_clean['date_time'].map( lambda x: datetime.strptime(x, '%Y%m%d-%H%M%S'))

    return adsb_clean

# Based on: https://stackoverflow.com/questions/34880539/pandas-merging-based-on-a-timestamp-which-do-not-match-exactly
# also: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html
def merge_planes_gps(planes, gps):
    tol = pd.Timedelta( '1 minute')
    all_df = pd.merge_asof(
        left=planes,
        right=gps,
        direction='nearest',
        on='dt_tm',
        tolerance=tol)
    return all_df

def print_selected( result, n_rows):
    print( result[['hex_id', 'date_time', 'lat_plane','lng_plane', 'time', 'lat', 'lon']].head(n_rows))

def main():

    adsb_clean = read_and_clean_csv_file( )
    gps_clean = read_and_clean_json_file( )

    result_df = merge_planes_gps( adsb_clean, gps_clean)
    print( 'Selected rows')
    print_selected( result_df, 50)

if __name__ == '__main__':
    main()

Selected rows
    hex_id        date_time  lat_plane  lng_plane                      time  \
0   A34721  20150618-133746   34.80688  -84.91154  2015-06-18T13:37:46.000Z
1   A1D4C3  20150618-133752   34.32422  -85.04091  2015-06-18T13:37:52.000Z
2   A34721  20150618-133847   34.95886  -85.11237  2015-06-18T13:38:47.000Z
3   A399D4  20150618-133847   35.02758  -85.26049  2015-06-18T13:38:47.000Z
4   AA7757  20150618-133853   33.78484  -83.94429  2015-06-18T13:38:53.000Z
5   A1D4C3  20150618-133853   34.43559  -85.13917  2015-06-18T13:38:53.000Z
6   AA7E2E  20150618-133912   34.83902  -84.98340  2015-06-18T13:39:12.000Z
7   AB5F00  20150618-133930   34.14088  -85.70468  2015-06-18T13:39:30.000Z
8   A34721  20150618-133952   34.99672  -85.16281  2015-06-18T13:39:52.000Z
9   A399D4  20150618-133952   35.02758  -85.26049  2015-06-18T13:39:52.000Z
10  AA7757  20150618-133955   33.78484  -83.94429  2015-06-18T13:39:55.000Z
11  A1D4C3  20150618-133955   34.52174  -85.21557  2015-06-18T13:39:55.000Z
12  AA7E2E  20150618-134016   34.78430  -85.07532  2015-06-18T13:40:16.000Z
13  AB5F00  20150618-134035   34.14088  -85.70468  2015-06-18T13:40:35.000Z
14  AA7757  20150618-134058   33.94012  -83.69951  2015-06-18T13:40:58.000Z
15  A34721  20150618-134058   34.99672  -85.16281  2015-06-18T13:40:58.000Z
16  A399D4  20150618-134058   35.02758  -85.26049  2015-06-18T13:40:58.000Z
17  A1D4C3  20150618-134058   34.60707  -85.29129  2015-06-18T13:40:58.000Z
18  AA7E2E  20150618-134117   34.73882  -85.15183  2015-06-18T13:41:17.000Z
19  AA7757  20150618-134203   33.94012  -83.69951  2015-06-18T13:42:03.000Z
20  A399D4  20150618-134203   35.02758  -85.26049  2015-06-18T13:42:03.000Z
21  A1D4C3  20150618-134203   34.74929  -85.41801  2015-06-18T13:42:03.000Z
22  AA7E2E  20150618-134220   34.61620  -85.35713  2015-06-18T13:42:20.000Z
23  AA7757  20150618-134305   33.94012  -83.69951  2015-06-18T13:43:05.000Z
24  A399D4  20150618-134305   35.02758  -85.26049  2015-06-18T13:43:05.000Z
25  A1D4C3  20150618-134305   34.84682  -85.50522  2015-06-18T13:43:05.000Z
26  AA7E2E  20150618-134326   34.61620  -85.35713  2015-06-18T13:43:26.000Z
27  A1D4C3  20150618-134409   34.92814  -85.57817  2015-06-18T13:44:09.000Z
28  AA7E2E  20150618-134439   34.61620  -85.35713  2015-06-18T13:44:39.000Z
29  A1D4C3  20150618-134513   34.92814  -85.57817  2015-06-18T13:45:13.000Z
30  AA7E2E  20150618-134541   34.61620  -85.35713  2015-06-18T13:45:41.000Z
31  A1D4C3  20150618-134620   34.92814  -85.57817  2015-06-18T13:46:20.000Z
32  AA7E2E  20150618-134706   34.61620  -85.35713  2015-06-18T13:47:06.000Z
33  AA7052  20150618-135016   33.99486  -84.90337  2015-06-18T13:50:16.000Z
34  71BE11  20150618-135136   34.28874  -85.23036  2015-06-18T13:51:36.000Z
35  503DA2  20150618-135136   34.01418  -84.34633  2015-06-18T13:51:36.000Z
36  AA7052  20150618-135136   33.96304  -84.86255  2015-06-18T13:51:36.000Z
37  71BE11  20150618-135246   34.28874  -85.23036  2015-06-18T13:52:46.000Z
38  503DA2  20150618-135246   34.09211  -84.32814  2015-06-18T13:52:46.000Z
39  AA7052  20150618-135246   33.96304  -84.86255  2015-06-18T13:52:46.000Z
40  503DA2  20150618-135433   34.24555  -84.29209  2015-06-18T13:54:33.000Z
41  AA7052  20150618-135433   33.96304  -84.86255  2015-06-18T13:54:33.000Z
42  71BE11  20150618-135549   34.06772  -84.99716  2015-06-18T13:55:49.000Z
43  503DA2  20150618-135549   34.33586  -84.27097  2015-06-18T13:55:49.000Z
44  A53436  20150618-135623   34.73421  -84.81903  2015-06-18T13:56:23.000Z
45  71BE11  20150618-135659   34.06772  -84.99716  2015-06-18T13:56:59.000Z
46  503DA2  20150618-135659   34.33586  -84.27097  2015-06-18T13:56:59.000Z
47  A53436  20150618-135741   34.73421  -84.81903  2015-06-18T13:57:41.000Z
48  71BE11  20150618-135812   33.82283  -84.75874  2015-06-18T13:58:12.000Z
49  A53436  20150618-135851   34.29499  -84.66534  2015-06-18T13:58:51.000Z

          lat        lon
0   34.379300 -84.907030
1   34.379302 -84.907030
2   34.378902 -84.907785
3   34.378902 -84.907785
4   34.378882 -84.907828
5   34.378882 -84.907828
6   34.378632 -84.907885
7   34.378015 -84.908357
8   34.377765 -84.909217
9   34.377765 -84.909217
10  34.377750 -84.909275
11  34.377750 -84.909275
12  34.377735 -84.909338
13  34.377650 -84.909635
14  34.377182 -84.911395
15  34.377182 -84.911395
16  34.377182 -84.911395
17  34.377182 -84.911395
18  34.377088 -84.911870
19  34.375145 -84.910130
20  34.375145 -84.910130
21  34.375145 -84.910130
22  34.373140 -84.907750
23  34.365613 -84.900082
24  34.365613 -84.900082
25  34.365613 -84.900082
26  34.361695 -84.895935
27  34.355068 -84.886428
28  34.349388 -84.880490
29  34.342508 -84.873387
30  34.336770 -84.866675
31  34.329167 -84.857150
32  34.319278 -84.847053
33  34.277762 -84.815655
34  34.261470 -84.801132
35  34.261470 -84.801132
36  34.261470 -84.801132
37  34.250097 -84.785165
38  34.250097 -84.785165
39  34.250097 -84.785165
40  34.235508 -84.758778
41  34.235508 -84.758778
42  34.217737 -84.753010
43  34.217737 -84.753010
44  34.211465 -84.759635
45  34.203028 -84.761883
46  34.203028 -84.761883
47  34.193108 -84.765995
48  34.185338 -84.766002
49  34.176583 -84.759877